<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Networld\CustomOrderProcessing\Api\OrderStatusUpdateSaveInterface"
                type="Networld\CustomOrderProcessing\Model\Api\OrderStatusUpdateSave"/>
    
    <virtualType name="Networld\CustomOrderProcessing\Model\ResourceModel\CustomOrderProcessing\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">networld_order_processing_status</argument>
            <argument name="resourceModel" xsi:type="string">
                Networld\CustomOrderProcessing\Model\ResourceModel\CustomOrderProcessing
            </argument>
            <argument name="eventPrefix" xsi:type="string">networld_orderstatus_listing_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">orderstatus_listing_grid_collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="networld_orderstatus_listing_data_source" xsi:type="string">
                    Networld\CustomOrderProcessing\Model\ResourceModel\CustomOrderProcessing\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
